<main>
  <aside class="fast-recs">
    <app-postcard></app-postcard>
    <app-postcard></app-postcard>
    <app-postcard></app-postcard>
  </aside>
  <section class="profile-main">
    <div class="profile-header">
      <img src="{{icon}}" alt="profile-icon" fill>
      <span class="username">{{name}}</span>
      <span class="followers">{{subs}} Subscriptoins</span>
      <span class="followers">{{followers}} subscribers</span>
      <span class="data">Joined in {{userData?.Date}}</span>
      <p>{{userData?.About}}</p>
    </div>
    <section class = "profile-content">
      <div class="profile-posts">
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
      </div>
      <aside class="profile-control">
        <button><fa-icon [icon]="faHeart" class="c-heart"></fa-icon>Likes</button>
        <button><fa-icon [icon]="faBookmark" class="c-bookmark"></fa-icon>Bookmarks</button>
        <button><fa-icon [icon]="faPeopleGroup" class="c-subs"></fa-icon>Subscribers</button>
        <button><fa-icon [icon]="faPeopleGroup" class="c-follows"></fa-icon>Follows</button>
        <button><fa-icon [icon]="faGear" class="c-settings"></fa-icon>Settings</button>
      </aside>
    </section>
  </section>

</main>
