<main>
  <aside class="fast-recs">
    <app-postcard></app-postcard>
    <app-postcard></app-postcard>
    <app-postcard></app-postcard>
  </aside>
  <section class="profile-main">
    <div class="profile-header">
      <img src="{{icon}}" alt="profile-icon" fill>
      <span class="username">{{name}}</span>
      <span class="followers">{{subs}} Subscriptoins</span>
      <span class="followers">{{followers}} subscribers</span>
      <span class="data">Joined in {{userData?.Date}}</span>
      <p>{{userData?.About}}</p>
    </div>
    <section class = "profile-content">
      <div class="profile-posts">
        @for(post of posts; track post.ID){
          <app-post [postData]="post"></app-post>
        } @empty {
          <div>empty</div>
        }
      </div>
      <aside class="profile-control">
        @if(self){
          <button><fa-icon [icon]="faHeart" class="c-heart"></fa-icon>Likes</button>
          <button><fa-icon [icon]="faBookmark" class="c-bookmark"></fa-icon>Bookmarks</button>
          <button><fa-icon [icon]="faPeopleGroup" class="c-subs"></fa-icon>Subscribers</button>
          <button><fa-icon [icon]="faPeopleGroup" class="c-follows"></fa-icon>Follows</button>
          <button><fa-icon [icon]="faGear" class="c-settings"></fa-icon>Settings</button>
        }@else{
          <button [ngClass]="{subscribed:subscribed}" class="sub-button">Subscribe</button>
          <button><fa-icon [icon]="faHeart" class="c-heart"></fa-icon>Likes</button>
          <button><fa-icon [icon]="faPeopleGroup" class="c-follows"></fa-icon>Follows</button>
          <button><fa-icon [icon]="faPeopleGroup" class="c-subs"></fa-icon>Subscribers</button>
        }
      </aside>
    </section>
  </section>

</main>
