<main>
  <aside class="main-settings">
    <div class="settings-card">
      <h5>your authors</h5>
      <div></div>
      <span>> look your favourite authors new posts</span>
      <button routerLink = "/">view =></button>
    </div>
    <div class="settings-card">
      <h5>popular</h5>
      <div></div>
      <span>> most popular posts\news lately</span>
      <button routerLink="/popular">view =></button>
    </div>
  </aside>

  <section class="profile-main">
    <div class="profile-header">
      <img src={{icon}}>
      <h4>{{name}}</h4>
      <div>
        <span><a>{{subs}}</a> Followers</span>
        <span><a>{{followings}}</a> Following</span>
      </div>
      <span>Joined 18.12.2024</span>
    </div>
    <h3>{{name}}'s posts</h3>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
    <app-post></app-post>
  </section>

  <aside class="profile-settings">
    @if(self){
      <h5>your profile</h5>
      <div>
        <h5>your description:</h5>
        <p>hello my name is ada and this account is the first!</p>
        <a>create post</a>
        <a>bookmarks</a>
        <a>likes</a>
        <a>settings</a>
      </div>
    } @else{
      <h5>About the user</h5>
      <div>
        <h5>description</h5>
        <p>hello my name is ada and this account is the first!</p>
        <a>likes</a>
      </div>
    }
  </aside>
</main>
