<main>
  <aside class="main-settings">
    <div class="settings-card">
      <h5>your authors</h5>
      <div></div>
      <span>> look your favourite authors new posts</span>
      <button>view =></button>
    </div>
    <div class="settings-card">
      <h5>popular</h5>
      <div></div>
      <span>> most popular posts\news lately</span>
      <button>view =></button>
    </div>
    <div class="settings-card">
      <h5>your profile</h5>
      <div></div>
      <span>> create your own post</span>
      <button>view =></button>
    </div>
  </aside>

  <section class="main">
    <h3>
      Your authors
    </h3>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </section>

  <aside class="user-settings">
    <div>
      <img>
      <h5>ada</h5>
    </div>
    <button>quit</button>
  </aside>
</main>

