<main>
  <form [formGroup]="form">
    <h3>Sign up</h3>
    <label>
      <h5>Username</h5>
      <input formControlName="name" placeholder="uni" type="text">
    </label>
    <label>
      <h5>Password</h5>
      <input formControlName="password" placeholder="6-20 letters" type="password">
    </label>
    <label>
      <h5>Confirm your password</h5>
      <input formControlName="password_confirmation" placeholder="6-20 letters" type="password">
    </label>
    <div>
      <button (click)="register()">
        Sign up
      </button>
      <a routerLink="/login">sign in</a>
    </div>
    @if (error) {
      <div class="error"><span>*</span> {{ error }}</div>
    }

  </form>
  <div class="auth-background-frame f1"></div>
  <div class="auth-background-frame f2"></div>
</main>
