<header>
  <h1 routerLink="/">Uni</h1>
  @if (isAuth) {
    <div class="header-params">
      <button (click)="setSearch()">
          <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button (click)="setMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>

    </div>
  }
</header>

<router-outlet>
  @if (isAuth) {
    <div [ngClass]="{'menu-background':menu}" (click)="setMenu()"></div>
    <aside class="menu" [ngClass]="{'show-menu':menu}">
      <section>
        <img>
        <h5>{{ user?.User }}  <span>{{ followers }} subs</span></h5>
        <button (click)="setMenu()">x</button>
      </section>
      <section>
        <a (click)="setMenu()" routerLink="/profile/{{user?.User}}">> Your profile</a>
        <a (click)="setMenu()" routerLink="/likes">> Your likes</a>
        <a (click)="setMenu()" routerLink="/follows/{{user?.User}}">> Your authors</a>
        <a (click)="setMenu()" routerLink="/subscribers/{{user?.User}}">> Your subscribers</a>
        <a (click)="setMenu()" routerLink="/bookmarks">> Your bookmarks</a>
      </section>
      <section>
        <a (click)="setMenu()" routerLink="/">> Home</a>
        <a (click)="setMenu()" routerLink="/creator">> Create a new post</a>
        <a (click)="setMenu()" routerLink="/settings">> Settings</a>
        <button (click)="logout()">> Sign out</button>
      </section>
    </aside>
  }
</router-outlet>

@if (isSearch) {
  <section class="search-container">
    <div class="search-header">
      <input [(ngModel)]="searchValue">
      <button (click)="search()">search</button>
      <button (click)="setSearch()">
        <fa-icon [icon]="faX"></fa-icon>
      </button>
    </div>

    <div class="search-results">

    </div>
  </section>
}

<footer>
  <h5>Uni <span>social media</span></h5>
</footer>
