<header>
  <h1 routerLink="/">Uni</h1>
  @if (isAuth) {
    <div class="header-params">
      <button (click)="setSearch()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button (click)="setMenu()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>

    </div>
  }
</header>

<router-outlet>
  @if (isAuth) {
    <div [ngClass]="{'menu-background':menu}" (click)="setMenu()"></div>
    <aside class="menu" [ngClass]="{'show-menu':menu}">
      <section>
        <img src = "{{user?.Icon || icon}}">
        <h5>{{ user?.User }}  <span>{{ followers }} subs</span></h5>
        <button (click)="setMenu()">x</button>
      </section>
      <section>
        <a (click)="setMenu()" href="/profile/{{user?.User}}">> Your profile</a>
        <a (click)="setMenu()" routerLink="/likes">> Your likes</a>
        <a (click)="setMenu()" href="/follows/{{user?.User}}">> Your authors</a>
        <a (click)="setMenu()" href="/subscribers/{{user?.User}}">> Your subscribers</a>
        <a (click)="setMenu()" routerLink="/bookmarks">> Your bookmarks</a>
      </section>
      <section>
        <a (click)="setMenu()" routerLink="/">> Home</a>
        <a (click)="setMenu()" routerLink="/creator">> Create a new post</a>
        <a (click)="setMenu()" routerLink="/settings">> Settings</a>
        <button (click)="logout()">> Sign out</button>
      </section>
    </aside>
  }
</router-outlet>

@if (isSearch) {
  <section class="search-container">
    <div class="search-header">
      <input [(ngModel)]="searchValue" (keydown)="checkKey($event)">
      <button (click)="search()">search</button>
      <button (click)="setSearch()">
        <fa-icon [icon]="faX"></fa-icon>
      </button>
    </div>

    <div class="search-results">
      <div class="search-posts">
        @for (result of userResults; track result.ID) {
          <app-author-card [userData]="result" (click)="setSearch()" class="search-post"></app-author-card>
        } @empty {
          <div class="empty">
            no such users
          </div>
        }
      </div>
      <div class="search-users">
        @for (result of postResults; track result.ID) {
          <app-post [postData]="result" (click)="setSearch()" class="search-user"></app-post>
        } @empty {
          <div class="empty">
            no such posts
          </div>
        }
      </div>
    </div>
  </section>
}

<footer>
  <h5>Uni <span>social media</span></h5>
</footer>
