<main>
  <section class="main-recs">
    <h3>Fast recommendations</h3>
    @for (post of fastRecs; track post.ID) {
      <app-postcard [post]="post"></app-postcard>
    }
  </section>
  <section class="main">

    @for (post of mainPosts; track post.ID) {
      <app-post [postData]="post"></app-post>
    }
    @if(allPosts.length){
      <button (click)="getMore()" class="get-more">Get more</button>
    }
  </section>
  <aside class="menu">
    <div class="menu-container">
      <div class="menu-header">
        <img
          src="{{icon}}">
        <h5>{{ userData?.User }}</h5>
        <span>{{ (userData?.Subscribes)?.length }} subscriptions</span>
        <span>{{ (userData?.Followers)?.length }} followers</span>
      </div>
      <div class="panel-control">
        <button class="panel-card" routerLink="/profile/{{userData?.User}}">
          <div id="c1"></div>
          <fa-icon [icon]="faUser" class="panel-card-icon"></fa-icon>
          <span>Profile</span>
        </button>
        <button class="panel-card" routerLink="/likes">
          <div id="c2"></div>
          <fa-icon [icon]="faHeart" class="panel-card-icon"></fa-icon>
          <span>Likes</span>
        </button>
        <button class="panel-card" routerLink="/bookmarks">
          <div id="c3"></div>
          <fa-icon [icon]="faBookmark" class="panel-card-icon"></fa-icon>
          <span>Bookmarks</span>
        </button>
        <button class="panel-card" routerLink="/creator">
          <div id="c4"></div>
          <fa-icon [icon]="faWandMagicSparkles" class="panel-card-icon"></fa-icon>
          <span>Creator</span>
        </button>
        <button class="panel-card" routerLink="/settings">
          <div id="c5"></div>
          <fa-icon [icon]="faGear" class="panel-card-icon"></fa-icon>
          <span>Settings</span>
        </button>
      </div>
    </div>
  </aside>
</main>
