<main>
  <form [formGroup]="form">
    <h3>Sign in</h3>
    <label>
      <h5>Username</h5>
      <input formControlName="name" placeholder="uni" type="text">
    </label>
    <label>
      <h5>Password</h5>
      <input formControlName="password" placeholder="6-20 letters" type="password">
    </label>
    <div>
      <button (click)="login()">
        Sign in
      </button>
      <a routerLink = "/register">sign up</a>
    </div>
    @if (error) {
    <div class="error"><span>*</span> {{ error }}</div>
  }

  </form>
  <div class="auth-background-frame f1"></div>
  <div class="auth-background-frame f2"></div>
</main>
