main {
  min-height: calc(100vh - 70px);
  padding-top: 50px;
}

form{
  margin:80px auto auto auto;
  color:white;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 500px;
  border:1px white solid;
  padding: 40px;
  align-items: center;
  gap:10px;
  box-shadow: 0 0 100px 10px rgba(234, 94, 255, 0.4);
  background: none;
  backdrop-filter: blur(5px);
  position: relative;
  z-index: 100;

  & h3{
    font-size: 36px;
    font-family: "JetBrains Mono Light";
    font-weight: 100;
    margin-bottom: 20px;
    &:after{
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #e84aff;
      margin: 20px auto auto auto;
      box-shadow: 0 0 30px 10px #e722ff;

    }
  }

  & div{
    width: 100%;
    margin-bottom: 10px;

    & a {
      font-size: 16px;
      margin-left: 20px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  & label{
    width: 100%;
    margin-bottom: 10px;
    & h5{
      font-family: "JetBrains Mono Light";
      font-weight: 100;
      margin-bottom: 4px;
    }
    & input{
      width: 100%;
      background:none;
      color: white;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      & :focus{
        border: 2px solid white;
        outline:none;
      }
    }

  }
}

.auth-background-frame{
  height: 1000px;
  rotate: 45deg;
  width: 10px;
  position: fixed;
  background: #e722ff;
  left: 50%;
  top:100px;
  border-radius: 10px;
}

.f2{
  top:-200px;
  left: calc(50% + 200px);
}

.error {
  animation: show-error 0.5s ease-out;
  color: #ff2264;
  text-shadow: 2px 2px 5px #ff2264;
  position: relative;

  & span{
    &:after{
      animation: error-alert 0.5s ease-out;
      content: "";
      position: absolute;
      top:5px;
      left:5px;
      display: block;
      width: 1px;
      height: 1px;
      background: #ff2264;
    }
  }
}

@keyframes error-alert {
  0% {
    box-shadow: 0 0 10px  10px #ff0000;
  }
  60% {
    box-shadow: 0 0 200px 70px #ff0000;
  }
  100%{
    box-shadow: 0 0 500px 100px rgba(255, 34, 100, 0);
  }
}

@keyframes show-error {
  0%{
    background: #ff2264;
  }
  100%{
    background: rgba(0, 0, 0, 0);
  }
}
