.post-card {
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;

  & .post-card-header {
    width: 100%;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 20px 20px;
    font-size: 20px;
    gap: 10px;
    align-items: center;

    & img {
      grid-row: 1/3;
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }

    & h5{
      margin-top:15px;
      font-weight: 100;
    }

    & span{
      margin-bottom: 10px;
      font-size: 10px;
    }
  }

  & .header{
    font-size: 14px;
  }

  & p{
    display: block;
    word-break: break-word;
    font-size: 10px;
    font-family: "JetBrains Mono ExtraLight";
    font-weight: 100;
    max-width: 100%;
    max-height: 123px;
    overflow: hidden;
  }

  & img {
    object-fit: cover;
  }

  & .post-card-stats{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 5px;

    & span{
      display: flex;
      gap:4px;
      align-items: center;
      font-size: 10px;
      font-family:"JetBrains Mono Thin";

      & svg{
        width: 10px;
        height: 10px;
        fill: white;
      }
    }
  }
}
